*,
*:before,
*:after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.topnav {
   background-color: black;
   overflow: hidden;
   z-index: 1;
}

.topnav a {
   float: left;
   display: block;
   color: #40bad5;
   text-align: center;
   padding: 20px 46px;
   text-decoration: none;
   font-size: 19px;
   font-family: 'Roboto Mono',
      monospace;
}


.topnav a:hover {
   background-color: #ddd;
   color: black;

}

.topnav a.active {
   background-color: #40bad5;
   color: white;
}

.topnav .icon {
   display: none;
}

@media screen and (max-width: 1200px) {
   .topnav a {
      float: left;
      display: block;
      color: #40bad5;
      text-align: center;
      padding: 10px 23px;
      text-decoration: none;
      font-size: 19px;
      font-family: 'Roboto Mono',
         monospace;
   }

   .topnav a:not(:first-child) {
      display: none;
   }

   .topnav a.icon {
      float: right;
      display: block;
   }

   .sidenav {
      width: 200px;
      position: fixed;
      z-index: 1;
      top: 20px;
      right: 10px;
      background: #eee;
      display: none;
      padding: 8px 0;
   }

   .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #2196F3;
      display: block;
   }

   .sidenav a:hover {
      color: #064579;
   }
}

@media screen and (max-width: 400px) {
   .topnav a {
      float: left;
      display: block;
      color: #40bad5;
      text-align: center;
      padding: 5px 11.5px;
      text-decoration: none;
      font-size: 10px;
      font-family: 'Roboto Mono',
         monospace;
   }



}

@media screen and (max-width: 700px) {
   .topnav.responsive {
      position: relative;
   }

   .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
   }

   .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
   }
}

.sidenav {
   width: 300px;
   position: fixed;
   z-index: 1;
   top: 20px;
   right: 10px;
   background: #eee;
   overflow-x: hidden;
   padding: 8px 0;
}

.sidenav a {
   padding: 6px 8px 6px 16px;
   text-decoration: none;
   font-size: 25px;
   color: #2196F3;
   display: block;
}

.sidenav a:hover {
   color: #064579;
}

.par1 {
   width: 200px;
   height: 300px;
}

.povestka {
   margin: 20px;
   padding: 30px;
   border: 3px solid;

}

#nti2 {
   margin: 20px;
   display: grid;
   grid-template-areas: "one one two two"
      "one one two two"
      "three three four four"
      "three three four four";
}

.item1 {
   grid-area: header;
}

.item2 {
   grid-area: menu;
}

.item3 {
   grid-area: main;
}

.item4 {
   grid-area: right;
}

.item5 {
   grid-area: footer;
}

.grid-container {
   display: grid;
   grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';
   grid-gap: 10px;
   background-color: #2196F3;
   padding: 10px;
}

.grid-container>div {
   background-color: rgba(255, 255, 255, 0.8);
   text-align: center;
   padding: 20px 0;
   font-size: 30px;
}

.par2 {
   width: 400px;
   height: 300px;
}


@media screen and (max-width: 680px) {
   #nti {
      width: 400px;
      height: 200px;
      margin-bottom: 350px;
   }
}

footer {
   display: flex;
   justify-content: center;
   color: white;
   background-color: black;
}