*,
*:before,
*:after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.topnav {
   background-color: black;
   overflow: hidden;
   z-index: 1;
}

.topnav a {
   float: left;
   display: block;
   color: #40bad5;
   text-align: center;
   padding: 20px 46px;
   text-decoration: none;
   font-size: 19px;
   font-family: 'Roboto Mono',
      monospace;
}

.sidenav {
   width: 230px;
   position: fixed;
   z-index: 1;
   top: 20px;
   right: 10px;
   background: #eee;
   overflow-x: hidden;
   padding: 8px 0;
}

.sidenav a {
   padding: 6px 8px 6px 16px;
   text-decoration: none;
   font-size: 25px;
   color: #2196F3;
   display: block;
}

.sidenav a:hover {
   color: #064579;
}



.topnav a:hover {
   background-color: #ddd;
   color: black;

}

.topnav a.active {
   background-color: #40bad5;
   color: white;
}

.topnav .icon {
   display: none;
}

@media screen and (max-width: 1200px) {
   .topnav a {
      float: left;
      display: block;
      color: #40bad5;
      text-align: center;
      padding: 10px 23px;
      text-decoration: none;
      font-size: 19px;
      font-family: 'Roboto Mono',
         monospace;
   }

   .topnav a:not(:first-child) {
      display: none;
   }

   .topnav a.icon {
      float: right;
      display: block;
   }
}

.param1 {
   width: 500px;
   height: 300px;
}

.param2 {
   width: 500px;
   height: 300px;
}

@media screen and (max-width: 400px) {
   .topnav a {
      float: left;
      display: block;
      color: #40bad5;
      text-align: center;
      padding: 5px 11.5px;
      text-decoration: none;
      font-size: 10px;
      font-family: 'Roboto Mono',
         monospace;
   }

   .param1 {
      width: 200px;
      height: 100px;
   }

   .param2 {
      width: 200px;
      height: 100px;
   }



}

@media screen and (max-width: 700px) {
   .topnav.responsive {
      position: relative;
   }

   .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
   }

   .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
   }

   .sidenav {
      width: 230px;
      position: fixed;
      z-index: 1;
      top: 20px;
      right: 10px;
      background: #eee;
      overflow-x: hidden;
      padding: 8px 0;
      display: none;
   }
}

#welcome {
   margin: 0;
   height: 3000px;
   width: 100%;
   background: #dddddd;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;

}

.about {
   margin: 10px;
   padding: 20px;
   border: 2px solid;
}

.news {
   display: flex;
   flex-direction: column;
   margin: 10px;
   padding: 20px;
   border: 2px solid;
}

.activities {
   display: flex;
   flex-direction: column;
   margin: 10px;
   padding: 20px;
   border: 2px solid;
}

.square {
   width: 100px;
   height: 100px;
   background-color: red;
   position: relative;
   animation: example;
   animation-duration: 4s;
}

@keyframes example {
   0% {
      background-color: red;
      left: 0px;
      top: 0px;
   }

   25% {
      background-color: yellow;
      left: 150px;
      top: 0px;
   }

   50% {
      background-color: blue;
      left: 150px;
      top: 150px;
   }

   75% {
      background-color: green;
      left: 0px;
      top: 150px;
   }

   100% {
      background-color: red;
      left: 0px;
      top: 0px;
   }
}

@media print {

   *,
   *:before,
   *:after {
      background: transparent !important;
      box-shadow: none !important;
      text-shadow: none !important;
   }

   .topnav {
      background-color: black;
      overflow: hidden;
      z-index: 1;
   }

   .topnav a {
      float: left;
      display: block;
      color: #40bad5;
      text-align: center;
      padding: 20px 46px;
      text-decoration: none;
      font-size: 19px;
      font-family: 'Roboto Mono',
         monospace;
   }


   .topnav a:hover {
      background-color: #ddd;
      color: black;

   }

   .topnav a.active {
      background-color: #40bad5;
      color: white;
   }

   .topnav .icon {
      display: none;
   }

   .param1 {
      width: 500px;
      height: 300px;
   }

   .param2 {
      width: 500px;
      height: 300px;
   }

   #welcome {
      margin: 0;
      height: 3000px;
      width: 100%;
      background: #dddddd;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;

   }

   .about {
      margin: 10px;
      padding: 20px;
      border: 2px solid;
   }

   .news {
      display: flex;
      flex-direction: column;
      margin: 10px;
      padding: 20px;
      border: 2px solid;
   }

   .activities {
      display: flex;
      flex-direction: column;
      margin: 10px;
      padding: 20px;
      border: 2px solid;
   }

   .square {
      width: 100px;
      height: 100px;
      background-color: red;
      position: relative;
      animation-name: example;
      animation-duration: 4s;
   }







}

footer {
   display: flex;
   justify-content: center;
   color: white;
   background-color: black;
}